/* Neat functions to make good div containers for images, allows them to be scaled without stretching and also be centered */

.fill-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
  }
 .fill-bg img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 300px;
    width: 100vw;
  }

  .fill-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
  }
 .fill-7 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 700px;
    width: 100%;
  }

  .fill-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
  }
 .fill-6 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 600px;
    width: 100%;
  }

  .fill-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
  }
 .fill-5 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 500px;
    width: 100%;
  }

  .fill-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
  }
 .fill-4 img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    height: 400px;
    width: 100%;
  }

.fill-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.fill-3 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.fill-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.fill-2 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.fill-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.fill-1 img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.fill-full {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}
.fill-full img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.flex-fill-5{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}
.flex-fill-5 img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 50em;
}

.flex-fill-4{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}
.flex-fill-4 img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 40em;
}

.flex-fill-3{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}
.flex-fill-3 img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 30em;
}

.flex-fill-2{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}
.flex-fill-2 img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 20em;
}

.flex-fill-1{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: clip;
}
.flex-fill-1 img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  height: 10em;
}