header {
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #333441;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*gap: 40px;*/
    padding: 4px;
    font-size: 1rem;
    background-color:  #333441;
    z-index: 1000;
}

.left-start {
    justify-content: flex-start;
}
.right-start {
    margin-left: auto;
    justify-content: flex-end;
}
/* nav a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align:center;
} */

nav a{
    /* Color */
    background-color: #333441;
    color: #C7C8EA;
    /* Text Changes */
    text-align:center;
    word-wrap: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* No Idea */
    display: block;
    text-decoration: none;
    /* Spacing/animation */
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    overflow: visible;
    text-wrap: nowrap;
    transition: 0.3s;
    transition-timing-function: ease-out;
    position: relative;
}

nav a:visited{
    /* color */
    color: #9698c0;
    /* Text Changes */
    /* No Idea */
    display: block;
    text-decoration: none;
    /* Spacing/animation */
    overflow: visible;
    text-wrap: nowrap;
    transition: 0.3s;
    transition-timing-function: ease-out;
    position: relative;
}

nav a:hover{
    /* No Idea */
    text-decoration: underline;
    /* Spacing/animation */
    padding-left: 2vw;
    padding-right: 2vw;
    overflow: visible;
    text-wrap: nowrap;
    transition: 0.3s;
    transition-timing-function: ease-out;
}



@media screen and (max-width: 900px) {
    nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 4px;
    }

    nav a{
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }

    nav a:hover{
    }
  }

@media screen and (max-width: 600px) {
    nav {

    }

    nav a{

    }

    nav a:hover{

    }
  }

/* selected link */
/*
a:active {
    color: #4242e6;
    text-decoration: none;
  }
*/
