{% extends 'layout.html' %}
{% block title %}Welcome - QueueUp{% endblock %}
{% block content %}
    <h1>Home Page extends the layout</h1>

    <div class="flex-container auto-margin">
        <div class=""><p style="font-size: 35px"></p></div>
    </div>

    <!-- Image -->
    <div class="flex-fill-5">
      <img src="images/282939-mario-kart-wii-wii-front-cover.jpg" alt="Cover Art for Mario Kart WII" class="shadow" data-full_image="images/282939-mario-kart-wii-wii-front-cover.jpg">
    </div>

{% endblock %}