{% extends 'layout.html' %}

{% block title %}Lobbies - QueueUp{% endblock %}

{% block content %}
<section>
    <div class="list-header">
    <h1>Active Lobbies</h1>

    <div class="search-container">
        <form class="" action="{% url 'posts:list' %}" method="get">
            <input type="text" name="q" placeholder="Search..." value="{{ query|default:'' }}" style="font-size: 30px">
            <button type="submit" class="button-thingy" style="font-size: 30px">Search</button>
        </form>
    </div>
</div>

    <div class="posts-grid">
        {% for post in posts %}
            <a href="{% url 'posts:page' slug=post.slug %}" class="post-card">
                {% if post.cover_url %}
                    <img src="{{ post.cover_url }}" alt="{{ post.game_name }}" class="game-cover">
                {% else %}
                    <div class="placeholder-cover">No Cover Art</div>
                {% endif %}

                <div class="post-overlay">
                    <div class="post-text" style="color: #CAC8EA">
                        <h2>{{ post.title }}</h2>
                        {% if post.game_name %}
                            <p style="color: #9996C0">{{ post.game_name }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        {% empty %}
            <div style="grid-column: 1/-1; text-align: left;">
                <p>No active lobbies found matching your search.</p>
                <a href="{% url 'posts:list' %}" class="button-thingy"> Clear search </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}